
.container-nicovis{
	margin: 5px;
	
	background-color: #444;
}
.container-nicovis svg {
	margin: 10px;
	background-color: #222;
}


/** histogram **/
.bars rect {
	/* fill: steelblue;*/
	shape-rendering: crispEdges;
}
.bars.overlay * {
    opacity: 0;
}
.bars.overlay .current {
    fill: #fff;
    opacity: 0.75;
}
.container-nicovis .caxis {
	shape-rendering: crispEdges; 
}

.curbar{
	stroke: #ffd;
    stroke-width: 2;
    opacity: 0.75;
}
.pbar{
	stroke: #ddf;
    stroke-width: 2;
    opacity: 0.5;
}


/**  axis  **/
.container-nicovis .axis text{
	fill: #fff;
	font-size: small;
}
.container-nicovis .axis path, .container-nicovis .axis line {
	fill: none;
	stroke: #fff;
	shape-rendering: crispEdges;
}



/** labels **/
.container-nicovis .pie .label rect {
    fill: #fff;
    opacity: 0.75;
}
.container-nicovis .pie .label text {
    fill: #444;
    font-size: x-small;
}
.container-nicovis .pie .title rect {
    fill: #222;
    opacity: 1;
}
.container-nicovis .pie .title text {
    fill: #fff;
    font-size: small;
    /*font-weight: bold;*/
}
.container-nicovis .tip rect {
    fill: #ddf;
    opacity: 0.8;
}
.container-nicovis .tip text {
    fill: #222;
    font-size: x-small;
}
